@font-face {
  font-family: "Geist";
  src: url("../fonts/Geist-Variable.ttf") format("truetype-variations");
  font-weight: 100 1000;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Geist";
  src: url("../fonts/Geist-Italic-Variable.ttf") format("truetype-variations");
  font-weight: 100 1000;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Geist-mono";
  src: url("../fonts/GeistMono-Variable.ttf") format("truetype-variations");
  font-weight: 100 1000;
  font-display: swap;
}

@font-face {
  font-family: "Grid";
  src: url("../fonts/Grid.ttf") format("truetype-variations");
  font-display: swap;
}

@font-face {
  font-family: "GTLTrameTextureVF";
  src: url("../fonts/GTLTrameTextureVF.ttf") format("truetype-variations");
  font-weight: 0 200;
  font-display: swap;
}

@font-face {
  font-family: "Trame-Menu";
  src: url("../fonts/Trame-MenuVF.ttf") format("truetype-variations");
  font-weight: 0 200;
  font-display: swap;
}

@font-face {
  font-family: "GTL Trame 1";
  src: url("../fonts/GTLTrame1VF.ttf") format("truetype");
  font-weight: 0 200;
  font-display: block;
}
@font-face {
  font-family: "GTL Trame 2";
  src: url("../fonts/GTLTrame2VF.ttf") format("truetype");
  font-weight: 0 200;
  font-display: block;
}
@font-face {
  font-family: "GTL Trame 3";
  src: url("../fonts/GTLTrame3VF.ttf") format("truetype");
  font-weight: 0 200;
  font-display: block;
}
@font-face {
  font-family: "GTL Trame 4";
  src: url("../fonts/GTLTrame4VF.ttf") format("truetype");
  font-weight: 0 200;
  font-display: block;
}
@font-face {
  font-family: "GTL Trame 5";
  src: url("../fonts/GTLTrame5VF.ttf") format("truetype");
  font-weight: 0 200;
  font-display: block;
}
@font-face {
  font-family: "GTL Trame 6";
  src: url("../fonts/GTLTrame6VF.ttf") format("truetype");
  font-weight: 0 200;
  font-display: block;
}
