@font-face {
  font-family: "Geist";
  src: url("../fonts/Geist-Variable.ttf") format("truetype-variations");
  font-weight: 100 1000;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Geist";
  src: url("../fonts/Geist-Italic-Variable.ttf") format("truetype-variations");
  font-weight: 100 1000;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Geist-mono";
  src: url("../fonts/GeistMono-Variable.ttf") format("truetype-variations");
  font-weight: 100 1000;
  font-display: swap;
}

@font-face {
  font-family: "Grid";
  src: url("../fonts/Grid.ttf") format("truetype-variations");
  font-display: swap;
}
