@use "sass:math";
@use "../settings" as *;
@use "typography" as *;

:root {
  --bs-font-sans-serif: #{$font-family-base};
  --bs-body-font-family: #{$font-family-base};
}

* .active {
  background-color: $color-black !important;
  color: $color-white !important;
}

* figure.video {
  margin-right: auto !important;
  margin-left: auto !important;
}

a {
  cursor: pointer !important;
  text-decoration: none !important;

  &:hover {
    cursor: pointer !important;
  }
}

video {
  max-width: 100%;
}

iframe {
  display: block;
  width: 100%;
  aspect-ratio: 16 / 9;
  border: none;
}

figure {
  margin: 0;
  @include media-breakpoint-down(sm) {
    text-align: center;
    margin: 0;
  }
}

figcaption {
  padding: math.div($spacer, 3) 0;
  color: $color-black;
  text-align: center;
  margin: $spacer;

  @include media-breakpoint-up(xl) {
    padding: math.div($spacer-xl, 3) 0;
    margin: $spacer-xl;
  }

  @include media-breakpoint-down(sm) {
    padding: math.div($spacer-sm, 3) 0;
    margin: $spacer-sm;
  }
}

a {
  color: $color-black;

  &:hover {
    color: $color-hover;
  }
}

body {
  @include font-regular;
  @include small;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: visible !important;
  overflow-x: hidden !important;
  background-color: $color-primary;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &.no-scroll {
    overflow: hidden !important;
    position: relative;
  }

  &.no-scroll {
    overflow: hidden !important;
    height: 100vh;
    height: 100dvh;
  }
}

.blocks-container.footer {
  margin-top: auto;
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

