@use "sass:math";
@use "../settings" as *;

@mixin font-base {
  font-family: $font-family-base;
  font-style: normal;
}

@mixin font-regular {
  @include font-base;
  font-weight: $font-regular;
}

@mixin font-medium {
  @include font-base;
  font-weight: $font-medium;
}

@mixin font-bold {
  @include font-base;
  font-weight: $font-bold;
}

@mixin font-extrabold {
  @include font-base;
  font-weight: $font-extrabold;
}

@mixin micro {
  font-size: $micro;
  line-height: $micro-lineh;

  @include media-breakpoint-up(xl) {
    font-size: $micro-xl;
    line-height: $micro-lineh-xl;
  }

  @include media-breakpoint-down(sm) {
    font-size: $micro-sm;
    line-height: $micro-lineh-sm;
  }
}

@mixin extrasmall {
  font-size: $extrasmall;
  line-height: $extrasmall-lineh;

  @include media-breakpoint-up(xl) {
    font-size: $extrasmall-xl;
    line-height: $extrasmall-lineh-xl;
  }

  @include media-breakpoint-down(sm) {
    font-size: $extrasmall-sm;
    line-height: $extrasmall-lineh-sm;
  }
}

@mixin small {
  font-size: $small;
  line-height: $small-lineh;

  @include media-breakpoint-up(xl) {
    font-size: $small-xl;
    line-height: $small-lineh-xl;
  }

  @include media-breakpoint-down(sm) {
    font-size: $small-sm;
    line-height: $small-lineh-sm;
  }
}

@mixin medium {
  font-size: $medium;
  line-height: $medium-lineh;

  @include media-breakpoint-up(xl) {
    font-size: $medium-xl;
    line-height: $medium-lineh-xl;
  }

  @include media-breakpoint-down(sm) {
    font-size: $medium-sm;
    line-height: $medium-lineh-sm;
  }
}

@mixin large {
  font-size: $large;
  line-height: $large-lineh;

  @include media-breakpoint-up(xl) {
    font-size: $large-xl;
    line-height: $large-lineh-xl;
  }

  @include media-breakpoint-down(sm) {
    font-size: $large-sm;
    line-height: $large-lineh-sm;
  }
}

@mixin extralarge {
  font-size: $extralarge;
  line-height: $extralarge-lineh;

  @include media-breakpoint-up(xl) {
    font-size: $extralarge-xl;
    line-height: $extralarge-lineh-xl;
  }

  @include media-breakpoint-down(sm) {
    font-size: $extralarge-sm;
    line-height: $extralarge-lineh-sm;
  }
}

@mixin ultralarge {
  font-size: $ultralarge;
  line-height: $ultralarge-lineh;

  @include media-breakpoint-up(xl) {
    font-size: $ultralarge-xl;
    line-height: $ultralarge-lineh-xl;
  }

  @include media-breakpoint-down(sm) {
    font-size: $ultralarge-sm;
    line-height: $ultralarge-lineh-sm;
  }
}

@mixin massive {
  font-size: $massive;
  line-height: $massive-lineh;

  @include media-breakpoint-up(xl) {
    font-size: $massive-xl;
    line-height: $massive-lineh-xl;
  }

  @include media-breakpoint-down(sm) {
    font-size: $massive-sm;
    line-height: $massive-lineh-sm;
  }
}

@mixin button {
  padding: math.div($spacer, 2.5) $spacer;
  @include extrasmall;
  //border-radius: 100vw;
  border: 2px solid $color-black;
}

* strong {
  @include font-bold;
}

h1 {
  @include massive;
}

h2 {
  @include ultralarge;
}

h3 {
  @include extralarge;

  @include media-breakpoint-down(sm) {
    font-size: $large-sm;
    line-height: $large-lineh-sm;
  }
}

h4 {
  @include large;
}

h5 {
  @include medium;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  margin-top: 0;
  margin-bottom: $spacer;
  color: $color-black;

  @include media-breakpoint-up(xl) {
    margin: 0;
  }

  @include media-breakpoint-down(sm) {
    margin: 0;
  }
}

* p a {
  text-decoration: none;
}

u {
  text-decoration: none;
}
