@use "sass:math";
@use "../shared" as *;

.blocks-container {
  padding-left: $spacer;
  padding-right: $spacer;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;

  @include media-breakpoint-down(sm) {
    padding-left: $spacer-sm;
    padding-right: $spacer-sm;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: math.div(-$spacer, 2);
  margin-right: math.div(-$spacer, 2);
  margin-bottom: $spacer * 2;
  padding: 0; // Reset padding if any

  @include media-breakpoint-down(sm) {
    margin-bottom: $spacer-sm;
    margin-left: math.div(-$spacer-sm, 2);
    margin-right: math.div(-$spacer-sm, 2);
  }

  .column {
    padding-left: math.div($spacer, 2);
    padding-right: math.div($spacer, 2);
    display: flex;
    flex-direction: column;

    @include media-breakpoint-down(sm) {
      padding-left: math.div($spacer-sm, 2);
      padding-right: math.div($spacer-sm, 2);
      max-width: 100%;
      margin-bottom: $spacer; // Add vertical spacing between stacked columns
    }

    .blocks {
      height: 100%;
      flex-grow: 1;
      display: flex;
      flex-direction: column;
    }
  }
}
