@use "../shared" as *;

.blocks-container {
  padding-left: $spacer;
  padding-right: $spacer;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;

  @include media-breakpoint-down(sm) {
    padding-left: $spacer-sm;
    padding-right: $spacer-sm;
  }
}

.row {
  margin: 0 auto;
  padding: 0;
  margin-bottom: $spacer * 2;

  @include media-breakpoint-down(sm) {
    margin-bottom: $spacer-sm;
    padding-left: $spacer-sm;
    padding-right: $spacer-sm;
  }

  [class^="col-"] {
    padding: 0;

    @include media-breakpoint-down(sm) {
      max-width: 100%;
      margin: inherit 0;
    }
  }
}
