@use "sass:math";
@use "../shared" as *;

.blocks-container {
  padding-left: $spacer;
  padding-right: $spacer;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;

  @include media-breakpoint-down(sm) {
    padding-left: $spacer-sm;
    padding-right: $spacer-sm;
  }
}

.row {
  margin-left: -#{math.div($spacer, 2)};
  margin-right: -#{math.div($spacer, 2)};
  margin-top: 0;
  margin-bottom: $spacer;
  padding: 0;

  @include media-breakpoint-down(sm) {
    margin-left: -#{math.div($spacer-sm, 2)};
    margin-right: -#{math.div($spacer-sm, 2)};
    margin-bottom: $spacer-sm;
  }

  &.mb-double {
    margin-bottom: $spacer * 2;

    @include media-breakpoint-down(sm) {
      margin-bottom: $spacer-sm * 2;
    }
  }

  > * {
    padding-left: math.div($spacer, 2);
    padding-right: math.div($spacer, 2);

    @include media-breakpoint-down(sm) {
      padding-left: math.div($spacer-sm, 2);
      padding-right: math.div($spacer-sm, 2);
      width: 100%;
    }
  }
}