@use "sass:math";
@use "../shared" as *;
@use "../base/typography" as typo;

/* BREADCRUMBS / PAGE NAVIGATOR */
/* CSS relativo al navigatore di pagina */
.breadcrumbs {
  width: 100%;
  padding: $spacer;
  background-color: $color-primary;
  font-family: Grid;
  @include typo.extralarge;
  font-variation-settings: "wght" 900, "BACK" 0, "SHAP" 100;

  @include media-breakpoint-up(xl) {
    padding: $spacer-xl;
  }

  @include media-breakpoint-down(sm) {
    padding: $spacer-sm;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style: none;
    padding-left: 0;
    margin-left: 0;

    li {
      padding: 0;
      margin: 0;
      @include typo.extralarge;
      font-variation-settings: "wght" 900, "BACK" 0, "SHAP" 100;

      .arrow {
        display: inline-block;
        position: relative;
        top: 0;
        margin: 0 math.div($spacer, 2);

        @include media-breakpoint-up(xl) {
          margin: 0 math.div($spacer-xl, 2);
        }

        @include media-breakpoint-down(sm) {
          margin: 0 math.div($spacer-sm, 2);
        }
      }

      a,
      .current {
        @include typo.extralarge;
        font-variation-settings: "wght" 900, "BACK" 0, "SHAP" 100;
        color: $color-black;
        font-family: Grid;
        margin-bottom: 0;
      }

      .current {
        font-family: Grid;
        font-variation-settings: "wght" 900, "BACK" 0, "SHAP" 100;
      }
    }
  }
}
