@use "../shared" as *;

.block-custom-text {
  text-align: var(--align);
  font-family: "GTLTrameTextureVF";
  font-variation-settings: "wght" var(--weight);
  font-size: 128px;
  line-height: 1;
  overflow-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-grow: 1;
  justify-content: var(--vertical-align);
  padding: $spacer;

  @include media-breakpoint-down(sm) {
    font-size: 64px;
    padding: $spacer-sm;
  }

  .custom-text-line {
    color: var(--color);
    display: block;
    text-decoration: none;
    
    transition: color 0.3s ease;

    &[href] {
      cursor: pointer;
    }
    
    &:hover {
      color: $color-black !important;
      opacity: 1;
    }
  }
}
