@use "../shared" as *;
@use "../base/typography" as typo;

/* FILTRI */
/* CSS relativo al componente FILTRI */
.container-collection {
  position: sticky;
  z-index: 200;
  top: 60px !important;

  @include media-breakpoint-up(xl) {
    top: 75px !important;
  }

  @include media-breakpoint-down(sm) {
    top: 50px !important;
  }

  .collection-filters {
    background-color: $color-white;
    padding: 0 $spacer;
    display: flex;
    /* qui può anche essere center, non cambia molto,
       perché il vero lavoro lo farà .container-categories */
    justify-content: center;
    margin-top: -2px;
    margin-bottom: $spacer;

    @include media-breakpoint-up(xl) {
      padding: 0 $spacer-xl;
      margin-bottom: $spacer;
    }

    @include media-breakpoint-down(sm) {
      padding: 0px;
      margin-bottom: 0;
      flex-direction: column;
    }

    /* ⭐ QUI: i gruppi vengono distribuiti a sinistra e a destra */
    .container-categories {
      display: flex;
      justify-content: space-between; // un gruppo a sinistra, uno a destra
      align-items: center;
      width: 100%;
      gap: $spacer; // opzionale: spazio tra i due gruppi

      @include media-breakpoint-down(sm) {
        flex-direction: column; // su mobile tornano uno sotto l'altro
        align-items: flex-start;
        gap: $spacer-sm;
      }
    }
  }
}

.single-filter {
  font-family: Grid;
  font-variation-settings: "wght" 900;
  font-size: $extrasmall;
  background-color: $color-theme;
  padding: $spacer-sm $spacer-xl;
  //border-radius: 100vw;
  color: $color-black;
  margin: $spacer-sm;
  margin-left: 0;
  display: inline-block;
  text-transform: uppercase;
  width: max-content;
  transition: all 0.3s;

  &:hover {
    transition: all 0.3s;
    color: $color-white;
    background-color: $color-black;
  }

  &.white {
    color: $color-black;
    background-color: $color-white;

    &:hover {
      transition: all 0.3s;
      color: $color-white;
      background-color: $color-black;
    }
  }
}

.control-group {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  white-space: nowrap;
  scroll-behavior: smooth;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  overflow-x: visible; /* su desktop: niente scroll, tutto visibile */

  &:first-of-type {
    border: none;
  }

  @include media-breakpoint-down(sm) {
    width: 100%;
    overflow-x: auto; // su mobile si può scrollare orizzontalmente
    white-space: nowrap;
    justify-content: flex-start;

    .single-filter {
      margin: $spacer;
    }
  }
}
