@use "sass:math";
@use "../shared" as *;
@use "../base/typography" as typo;

/* FOOTER */
/* CSS relativo al componente Footer */
.footer_nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: flex-end;
}
footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  margin: 0 auto;
  padding-top: $spacer;
  padding-bottom: 0;
  //background-color: #000;
  color: black;
  &.first {
    justify-content: center;
  }
  .logo {
    margin-top: 0;
    min-width: 15vw;
    padding-top: 0;
    a {
      color: black;
      &:hover {
        color: #f30;
      }
    }
  }

  .credits {
    margin-right: math.div($spacer-sm, 2);
  }
  .spin-offs a:hover,
  .social a:hover {
    opacity: 0.5;
  }
  .social a {
    margin: 0 0.5em;
  }
}
// Layout footer specifico (attenzione: il selettore era fragile)
.footer .row {
  // margin-left: $spacer; // Removed to avoid double spacing
  // margin-right: $spacer; // Removed to avoid double spacing
  margin-bottom: $spacer;
  //background-color: $color-black;
  h1,
  h2,
  h3,
  h4,
  h5,
  p {
    color: $color-black;
    font-size: $extrasmall;
    line-height: 1.1;
    margin-bottom: 0 !important;
    & strong {
      font-weight: $black;
    }
  }
  .group-footer {
    color: $color-black;
    font-size: $extrasmall;
    line-height: 1.1;
    display: flex;
    justify-content: right;
    gap: $spacer-xl * 2;
  }

  a {
    color: $color-black;
    font-size: $extrasmall;
    line-height: 1.1;
    &:hover {
      color: $color-hover;
    }
  }
}
.footer {
  @include media-breakpoint-down(sm) {
    // padding: 0; // Removed to keep container padding
  }
}
// Mobile override per layout
@media screen and (max-width: 900px) {
  .bg-layout.footer .row {
    text-align: left;
  }
  .group-footer {
    margin-top: $spacer-xl;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: $spacer-xl !important;
  }
}
.footer figure {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 900px) {
  .blocks-container.footer figure {
    margin-bottom: $spacer*2;
  }
  .blocks-container.footer .column {
    width: 50%;
    max-width: 50%;
    flex: 0 0 50%;
  }
}
