@use "sass:math";
@use "../shared" as *;
@use "../base/typography" as typo;

/* Typography helpers (plain version, no stylistic sets) */
.logotype_container {
  margin-top: math.div($spacer, 2);
}
.logotype_container * {
  @include typo.font-extrabold;
  @include media-breakpoint-down(sm) {
    font-size: 20px !important;
  }
  display: flex;
  align-items: center;
}

h1.title,
h2.title,
h3.title,
h4.title,
h5.title {
  @include typo.font-extrabold;
}

/* hacks */

* h1,
* h2,
* h3,
* h4,
* h5 {
  &:not(.label-grid) {
    margin-left: auto !important;
    margin-right: auto !important;
  }
}
* div.block-cta {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.col-lg-2, .col-lg-3, .col-lg-4, .col-lg-6, .col-lg-12 {
  @include media-breakpoint-down(sm) {
    padding-right: 0!important;
    padding-left: 0!important;
  }
}

* .col-lg-12 * figure {
  margin-bottom: 0;
  img{
    margin-bottom: 0;
  }
}
.lazyautosizes{
  max-height: fit-content!important;
}
* .cards-title {
  max-width: fit-content!important;
}
h2.title{
  display: flex;
  justify-content: flex-start;
  margin: 0!important;
  width: fit-content;
  margin-bottom: $spacer!important;
  @include media-breakpoint-up(xl) {
    margin-bottom: math.div($spacer-xl, 2)!important;
  }
  @include media-breakpoint-down(sm) {
    margin-bottom: $spacer-sm*1.5!important;

  }
}
