@use "../shared" as *;
@use "sass:math";
@use "../base/typography" as typo;

/* COMPONENTE: PAGE COVER */
/* CSS relativo al componente che stampa le copertine delle pagine */
.cover-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-bottom: $spacer * 2;
  @include media-breakpoint-down(sm) {
    flex-direction: column!important;
  }
  .cover-first-element {
    width: 40%;
    @include media-breakpoint-down(sm) {
      width: 100%;
      img {
        max-height: 50vh;
        min-width: 100vw;
      }
    }
    img {
      padding-right: $spacer;
      @include media-breakpoint-down(sm) {
        padding-right: 0;
      }
    }
  }
  .page-informations {
    width: 60%;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    padding-right: $spacer;
    background-color: $color-white !important;
    @include media-breakpoint-down(sm) {
      width: 100%;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    p {
      width: fit-content;
      margin: 0;
    }
    
    // Larger font size for cards-text in page-informations
    .cards-text p {
      margin-top: math.div($spacer, 2);
      @include typo.extralarge;
      margin-bottom: math.div($spacer, 2);

      @include media-breakpoint-down(sm) {
        @include typo.large;
      }
    }

    .time {
      @include media-breakpoint-down(sm) {
        font-size: $large-sm;
      }
    }

    .cards-title h2{
      font-weight: $font-extrabold;
      font-size: $ultralarge-xl;
    }
  }
}